.board-list{
    display: flex;
    flex-flow: row;
    width: 100vw;
    color: #fdfdfd;
    align-items: center;
    justify-content: center;

}
.board-table {
    max-width: 80%;
    margin:auto;
}

.board-home {
    background-color: rgb(42, 35, 46);
    display: flex;
    align-items: center;
}
.board-main {

}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  