.card-invite {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  color: white;
  padding: 10px;
  font-size: 16px;
}
.email {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list-invites {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.btn-invite {
  margin: 20px auto;
  text-align: center;
  align-self: center;
  justify-self: center;
}