.tables-page {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.title {
  font-size: 35px;
}

.tables-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}

.btn-create-table {
  width: 30%;
}