* {
  box-sizing: border-box;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
}

body {
  background-color: #101010;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
